@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --paleta-um: 255 111 49;
  --paleta-dois: 0 25 105;
  --paleta-tres: 248 248 248;
  --paleta-quatro: 61 61 61;
  --paleta-cinco: 255 163 102;
  --paleta-seis: 255 255 255;
  --paleta-sete: 0 0 0;
  --paleta-oito: 255 0 0;
  --paleta-nove: 0 170 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--paleta-seis));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--paleta-sete) / 0.25);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--paleta-sete) / 0.5);
}
