@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --paleta-um: 255 111 49;
  --paleta-dois: 0 25 105;
  --paleta-tres: 248 248 248;
  --paleta-quatro: 61 61 61;
  --paleta-cinco: 255 163 102;
  --paleta-seis: 255 255 255;
  --paleta-sete: 0 0 0;
  --paleta-oito: 255 0 0;
  --paleta-nove: 0 170 0;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  button {
    @apply cursor-pointer;
  }

  a {
    @apply no-underline text-inherit;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--paleta-seis));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--paleta-sete) / 0.25);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--paleta-sete) / 0.5);
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
