# RabbitMQ URL
# Formato: amqp://<usuario>:<senha>@<host>:<porta>
RMQ_URL=amqp://guest:guest@localhost:5672

# PostgreSQL Database URL para o serviço de autenticação
# Formato: postgresql://<usuario>:<senha>@<host>:<porta>/<nome_do_banco>
DATABASE_URL=postgresql://postgres:2009@localhost:5000/qk_auth_db

# Chave secreta para JWT (manter segura em produção)
JWT_SECRET=3123456789abcdef3123456789abcdef
