header {
  display: flex;
  flex-direction: column;
  /* background-color: var(--paleta-um); */
  background-color: transparent;
}

#top-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  background-color: var(--paleta-um);
  padding: 1.2rem;
}

#bottom-row {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  color: var(--paleta-tres);
  border-top: 1px solid var(--paleta-tres);
}

#logo {
  width: 150px;
}

#nav-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#nav-btn span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.btn {
  background-color: transparent;
  border: 1px solid var(--paleta-tres);
  color: var(--paleta-tres);
}

.navegacao {
  border-radius: 0.9rem;
  padding: 0.5rem;
  outline: none;
}

.menu {
  border-radius: 2rem;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

#hanb {
  font-size: 1.3rem;
  margin-left: 0.4rem;
}
#user {
  font-size: 2.5rem;
  width: 2.5rem;
}

#hanb,
#user {
  display: flex;
}

#box-relativo {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Ajuste o valor alpha conforme desejado */
  z-index: 1000; /* Deve estar acima de todos os outros elementos */
}

#profile {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  clip-path: circle(50%);
}

#profile-picture {
  width: 100%;
  height: 100%;
  scale: 1;
  object-fit: scale-down;
  background-color: var(--paleta-tres);
}
